body {
    font-family: 'Roboto', sans-serif;
    background: rgb(1,0,14);
    background: linear-gradient(90deg, rgba(1,0,14,1) 50%, rgba(4,4,79,1) 100%);
    color: white;
    overflow-x:hidden ;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

/* Style for the social media icons */
.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 40px; /* Medium size */
    margin: 0 10px; /* Spacing between icons */
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #aaa; /* Slight color change on hover */
}

#navBar>nav{
    display: flex;
    justify-content: center;
}
#navBar>nav>div{
    width: 85%;
    display:flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
}
#navBar>nav>div>div:nth-child(2){
    display: flex;
    align-items: center;
}
#navBar>nav>div>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
}
#navBar>nav>div>div:nth-child(1)>img{
    margin-top:15px;
}
#navigation{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: rgb(1,0,14);
    background: linear-gradient(90deg, rgba(1,0,14,1) 50%, rgba(4,4,79,1) 100%);
}
#home{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    margin: auto;
    width: 1650px;
    height: 780px;
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#home>div:nth-child(1){
    grid-column: 2/3;
    grid-row: 1/4;
    /*border: 1px solid red;*/
}
#circle1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #FFC300;
    animation: pop 1s infinite;
}
#circle2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFC300;
    animation: pop 1s infinite;
}
@keyframes pop {
    0%, 100% {
        transform: scale(1);      /* Normal size at the beginning and end */
    }
    50% {
        transform: scale(1.2);    /* Scale up the circle to 1.2 times its size */
    }
}
#homeMain{
    position: relative;
    width: 100%;
    height: 800px;
    padding-top:200px
    /*border: 3px solid yellow;*/
}
#home>div:nth-child(3)>div:nth-child(2)>h2{
    font-size: 50px;
    color: white;
    text-align: center;
    margin:0;
    margin-bottom: 40px;
}
#home>div:nth-child(3)>div:nth-child(2)>h2>span{
    color: #FFC300;
}
.homeGrid{
    position: relative;
}
#home>div:nth-child(2)>div:nth-child(1){
    position: absolute;
    top: 40px;
    left: 40px;
}
#home>div:nth-child(2)>div:nth-child(2){
    position: absolute;
    bottom: -35px;
    right: 60px;
}
#home>div:nth-child(3)>div:nth-child(1)>h1{
    font-size: 120px;
    color: #FFC300;
    text-align: center;
    margin:0;
    margin-bottom: 20px;
}
#image{
    display:flex;
    justify-content: center;
    margin-top: 6%;
}
/*#homePhoto>img{
    !*border: 10px solid #FFC300;*!
    width: 450px;
    height:auto;
}*/

.block {
    position: relative;

}
.fill{
    padding: 0;
}
.block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -3px;
    background: linear-gradient(45deg, #FFC300,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),#FFC300);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 15s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(30px);
}

#homeName{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#homeIcons>div{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-around;
}
#homeIcons>div:nth-child(1){
    margin-top:10px;
    margin: 10px;
}
#homeIcons>div:nth-child(2){
    margin-top: 40px;
}
#homeIcons>div:nth-child(2)>button{

}
.homeGrid{
    /*border: 1px solid red;*/
}

                                                       /* CSS */
                                                   .button-85 {
                                                       padding: 0.6em 2em;
                                                       border: none;
                                                       outline: none;
                                                       color: rgb(255, 255, 255);
                                                       background: #111;
                                                       cursor: pointer;
                                                       position: relative;
                                                       z-index: 0;
                                                       border-radius: 10px;
                                                       user-select: none;
                                                       -webkit-user-select: none;
                                                       touch-action: manipulation;
                                                       font-size: 20px;
                                                   }

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 500%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


/*Nav Bar*/
nav {
    margin: 0 auto;
    /*background: #fff;*/
    padding: 20px 0;
    box-shadow: 0px 0.5px 0px #dedede;
}

/* Targeting the nested ul */
nav > div > div:nth-child(2) > ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Styling the li elements */
nav > div > div:nth-child(2) > ul > li {
    display: inline-block;
}

/* Styling the a elements */
nav > div > div:nth-child(2) > ul > li > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.2s;
}

/* Hover effect for the links */
nav > div > div:nth-child(2) > ul > li > a:hover {
    color: #ffffff;
}

/* Adding the stroke effect */
nav.stroke > div > div:nth-child(2) > ul > li > a {
    position: relative;
}

/* Stroke effect when hovering over the link */
nav.stroke > div > div:nth-child(2) > ul > li > a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    color: transparent;
    background: #aaa;
    height: 1px;
    transition: all 0.2s;
}

nav.stroke > div > div:nth-child(2) > ul > li > a:hover:after {
    width: 100%;
}

/* Fill effect */
nav.fill > div > div:nth-child(2) > ul > li > a {
    transition: all 2s;
    position: relative;
}

nav.fill > div > div:nth-child(2) > ul > li > a:after {
    text-align: left;
    content: '';
    margin: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #aaa;
    height: 1px;
    width: 0;
    transition: all 0.2s;
}

nav.fill > div > div:nth-child(2) > ul > li > a:hover {
    color: #ffffff;
    z-index: 1;
}

nav.fill > div > div:nth-child(2) > ul > li > a:hover:after {
    z-index: -10;
    animation: fill 0.4s forwards;
    opacity: 1;
    width: 100%;
}

/* Fill keyframe animation */
@keyframes fill {
    0% {
        width: 0;
        background-color: #aaa;
    }
    100% {
        width: 100%;
        background-color: #555;
    }
}
.Topic{
    padding-top: 100px;
}
#about>h2{
    display:flex;
    justify-content: center;
    margin-top: 60px;
}
#about>div{
    display: flex;
    align-items: center;
}
#about>div>div:nth-child(2){

}
#aboutPhoto{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
#aboutPhoto>img{
    width:500px;
    height: auto;
}
#about>div>div:nth-child(2)>div:nth-child(2){
    display: flex;
    justify-content: center;
    margin: 100px;
}
#aboutDis{
 margin: 100px;
}
.about-description p {
    font-size: 1.5rem;           /* Set text size to 1.2rem */
    line-height: 1.8;            /* Improve readability with proper line height */
    color: #ffffff;                 /* Use a subtle gray color for softer text */
    font-weight: 400;            /* Regular font weight */
    text-align: justify;         /* Justify text for a cleaner appearance */
    margin-bottom: 20px;         /* Add space after paragraph */
}
.first-word {
    font-size: 3rem;         /* Increase font size */
    font-weight: bold;         /* Make it bold */
    color: #ffffff;            /* White color */
    margin-right: 5px;         /* Add a little space after the first word */
}
.section-title {
    font-family: 'Arial', sans-serif;   /* Clean, common font */
    font-size: 3rem;                    /* Moderate size for clear visibility */
    font-weight: bold;                  /* Bold to emphasize the title */
    color: #FFC300;                        /* Dark color for good readability */
    display:flex;
    justify-content: center;
    margin-top: 60px;
}
.CVicon{
    filter: invert(100%);   /* Invert the color to white */
}
.edu{
    display: flex;
    justify-content: center;
}

#educationSection{
    display: flex;
    justify-content: center;
}
#educationSection>div{
    width: 80%;
}
#educationSection>div>div:first-child{
    display: flex;
    justify-content: flex-start;
}
#educationSection>div>div:nth-child(2){
    display: flex;
    justify-content: flex-end;
}
#educationSection>div>div:nth-child(3){
    display: flex;
    justify-content: flex-start;
}
.eduDetail{
    display: flex;
    align-items: center;
}
.eduImage{
margin: 50px;
}
.eduImage>img{
    width: 150px;
}
.edutext{
    text-align: end;
}






/*Media query*/



@media all and (min-width: 1024px) and (max-width:1440px){
    #home{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom:0;
        margin: auto;
        width: 900px;
        height: 600px;
        /*border: 1px solid red;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        border: 3px solid red;
    }
    #homePhoto>img{
        width:300px;
        height:auto;
    }
    #circle1{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    #circle2{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    #homeMain{
        position: relative;
        width: 100%;
        height: 650px;
        border: 3px solid yellow;
    }
    #home>div:nth-child(3)>div:nth-child(2)>h2{
        font-size: 35px;
        text-align: center;
        margin:0;
        margin-bottom: 30px;
    }
    #home>div:nth-child(2)>div:nth-child(1){
        position: absolute;
        top: 70px;
        left: 40px;
    }
}

@media all and (min-width: 768px) and (max-width:1023px){

}
@media all and (min-width:425px) and (max-width: 767px){

}
@media all and (min-width:375px) and (max-width: 424px){

}
@media all and (min-width:320px) and (max-width: 374px){

}