body {
    font-family: 'Roboto', sans-serif;
    background: rgb(1,0,14);
    background: linear-gradient(90deg, rgba(1,0,14,1) 50%, rgba(4,4,79,1) 100%);
    color: white;
    overflow-x:hidden ;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.section-title {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    font-variation-settings:
            "EDPT" 100,
            "EHLT" 12;
    /* font-family: 'Arial', sans-serif;*/   /* Clean, common font */
    font-size: 7rem;                    /* Moderate size for clear visibility */
    /* font-weight: bold;*/                  /* Bold to emphasize the title */
    /*color: #FFC300;*/                        /* Dark color for good readability */
    display:flex;
    justify-content: center;
    margin-top: 10px;
    text-shadow: 3px 3px 6px rgba(128, 128, 128, 1);
}

/* Style for the social media icons */
.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 40px; /* Medium size */
    margin: 0 10px; /* Spacing between icons */
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #aaa; /* Slight color change on hover */
}

#navBar>nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
#navBar>nav>div{
    width: 85%;
    display:flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
}
#navBar>nav>div>div:nth-child(2){
    display: flex;
    align-items: center;
}
#navBar>nav>div>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
#navBar>nav>div>div:nth-child(1)>img{
    margin-top:15px;
}
#navBar{
    width: 100%;/*blnnaaaa*/
}
#navigation{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;  /*blnnaaaa*/
    z-index: 9999;
    background: rgb(1,0,14);
    background: linear-gradient(90deg, rgba(1,0,14,1) 50%, rgba(4,4,79,1) 100%);
}
#sectionMain{
    width:100%;
}

/*Home*/



#home{
    width: 90%;
    height: 780px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#homeSub{
    display: flex;
    flex-direction: column;
}
#circles{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
#circles>div:first-child{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
#circles>div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content:end;
    align-items:flex-end;
}
#circle1{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #FFC300;
    animation: pop 1s infinite;
}

#circle2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 50px;  /*blnnaaaa*/
    background: #FFC300;
    animation: pop 1s infinite;
}
@keyframes pop {
    0%, 100% {
        transform: scale(1);      /* Normal size at the beginning and end */
    }
    50% {
        transform: scale(1.2);    /* Scale up the circle to 1.2 times its size */
    }
}
#homeMain{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 800px;
    padding-top:120px;
}
#homeMyName>div:first-child>h1{
    font-size: 120px;
    color: #FFC300;
    text-align: center;
    margin:0;
    margin-bottom: 20px;
}
#homeMyName>div:nth-child(2)>h2{
    font-size: 50px;
    color: white;
    text-align: center;
    margin:0;
    margin-bottom: 40px;
}
#homeMyName>div:nth-child(2)>h2>span{
    color: #FFC300;
}
.homeGrid{

}
#image{
    display:flex;
    justify-content: center;
    margin-top: 6%;
}

.block {
    position: relative;

}
.fill{
    padding: 0;
}
.block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -3px;
    background: linear-gradient(45deg, #FFC300,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),#FFC300);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 15s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(30px);
}

#homeName{

}
#homeIcons>div{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-around;
}
#homeIcons>div:nth-child(1){
    margin-top:10px;
    margin: 10px;
}
#homeIcons>div:nth-child(2){
    margin-top: 40px;
}
#homeIcons>div:nth-child(2)>button{

}
.homeGrid{
    /*border: 1px solid red;*/
}

                                                       /* CSS */
                                                   .button-85 {
                                                       padding: 0.6em 2em;
                                                       border: none;
                                                       outline: none;
                                                       color: rgb(255, 255, 255);
                                                       background: #111;
                                                       cursor: pointer;
                                                       position: relative;
                                                       z-index: 0;
                                                       border-radius: 10px;
                                                       user-select: none;
                                                       -webkit-user-select: none;
                                                       touch-action: manipulation;
                                                       font-size: 20px;
                                                   }

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 500%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


/*Nav Bar*/
nav {
    margin: 0 auto;
    /*background: #fff;*/
    padding: 20px 0;
    box-shadow: 0px 0.5px 0px #dedede;
}

/* Targeting the nested ul */
nav > div > div:nth-child(2) > ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Styling the li elements */
nav > div > div:nth-child(2) > ul > li {
    display: inline-block;
}

/* Styling the a elements */
nav > div > div:nth-child(2) > ul > li > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.2s;
}

/* Hover effect for the links */
nav > div > div:nth-child(2) > ul > li > a:hover {
    color: #ffffff;
}

/* Adding the stroke effect */
nav.stroke > div > div:nth-child(2) > ul > li > a {
    position: relative;
}

/* Stroke effect when hovering over the link */
nav.stroke > div > div:nth-child(2) > ul > li > a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    color: transparent;
    background: #aaa;
    height: 1px;
    transition: all 0.2s;
}

nav.stroke > div > div:nth-child(2) > ul > li > a:hover:after {
    width: 100%;
}

/* Fill effect */
nav.fill > div > div:nth-child(2) > ul > li > a {
    transition: all 2s;
    position: relative;
}

nav.fill > div > div:nth-child(2) > ul > li > a:after {
    text-align: left;
    content: '';
    margin: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #aaa;
    height: 1px;
    width: 0;
    transition: all 0.2s;
}

nav.fill > div > div:nth-child(2) > ul > li > a:hover {
    color: #ffffff;
    z-index: 1;
}

nav.fill > div > div:nth-child(2) > ul > li > a:hover:after {
    z-index: -10;
    animation: fill 0.4s forwards;
    opacity: 1;
    width: 100%;
}

/* Fill keyframe animation */
@keyframes fill {
    0% {
        width: 0;
        background-color: #aaa;
    }
    100% {
        width: 100%;
        background-color: #555;
    }
}
.Topic{
    padding-top: 100px;
}
#about>h2{
    display:flex;
    justify-content: center;
}
#about>div{
    display: flex;
    align-items: center;
}
#about>div>div:nth-child(2){

}
#aboutPhoto{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
#aboutPhoto>img{
    width:500px;
    height: auto;
}
#about>div>div:nth-child(2)>div:nth-child(2){
    display: flex;
    justify-content: center;
    margin: 100px;
}
#aboutDis{
 margin: 100px;
}
.about-description p {
    font-size: 1.5rem;           /* Set text size to 1.2rem */
    line-height: 1.8;            /* Improve readability with proper line height */
    color: #ffffff;                 /* Use a subtle gray color for softer text */
    font-weight: 400;            /* Regular font weight */
    text-align: justify;         /* Justify text for a cleaner appearance */
    margin-bottom: 20px;         /* Add space after paragraph */
}
.first-word {
    font-size: 3rem;         /* Increase font size */
    font-weight: bold;         /* Make it bold */
    color: #ffffff;            /* White color */
    margin-right: 5px;         /* Add a little space after the first word */
}

.CVicon{
    filter: invert(100%);   /* Invert the color to white */
}
.edu{
    display: flex;
    justify-content: center;
}

#educationSection{
    display: flex;
    justify-content: center;
}
#educationSection>div{
    width: 80%;
}
#educationSection>div>div:first-child{
    display: flex;
    justify-content: flex-start;
}
#educationSection>div>div:nth-child(2){
    display: flex;
    justify-content: flex-end;
}
#educationSection>div>div:nth-child(3){
    display: flex;
    justify-content: flex-start;
}
.eduDetail{
    display: flex;
    align-items: center;
}
.eduImage{
margin: 50px;
}
.eduImage>img{
    width: 150px;
}
.edutext{
    text-align: end;
}


#prjAll{
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.prjCard{
    width: 320px;
    height: 500px;
    background: #aaaaaa;
    border-radius:5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prjCard>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prjDescription{
    width:90%;
}
.prjDescription>p{
    color: #111111;
}


                                                   .button-27 {
                                                       appearance: none;
                                                       background-color: #000000;
                                                       border: 2px solid #1A1A1A;
                                                       border-radius: 15px;
                                                       box-sizing: border-box;
                                                       color: #FFFFFF;
                                                       cursor: pointer;
                                                       display: inline-block;
                                                       font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                                                       font-size: 16px;
                                                       font-weight: 600;
                                                       line-height: normal;
                                                       margin: 0;
                                                       min-height: 60px;
                                                       min-width: 0;
                                                       outline: none;
                                                       padding: 16px 24px;
                                                       text-align: center;
                                                       text-decoration: none;
                                                       transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
                                                       user-select: none;
                                                       -webkit-user-select: none;
                                                       touch-action: manipulation;
                                                       width: 100%;
                                                       will-change: transform;
                                                   }

.button-27:disabled {
    pointer-events: none;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}

.prjGHButton>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prjCard>div>div:nth-child(2)>h3{
    color: black;
}

#assignmentSec{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}
#assignmentFull {
    width: 90%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#asgn{
    width:100%;
    display: flex;
    justify-content: center;
}
.assignmentClipBoard>img{
    width:250px;
}
.assignmentG\&V>img{
    width:40px;
}
.assignmentClipBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.assignmentG\&V{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.assignmentNumber{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assignmentCard{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}


/*Gallery*/

.container {
    margin:0 auto;
    width: 60%;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}
.gallery{
    width: 100%;
    height:100%;
}
#galleryFull{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;

    &:hover {
        flex: 7;
    }
}

.item-1 {
    background-image: url(../images/IMG-20240116-WA0078.png);
}

.item-2 {
    background-image: url(../images/IMG-20240425-WA0052.png);
}

.item-3 {
    background-image: url(../images/IMG-20240503-WA0047.png);
}

.item-4 {
    background-image: url(../images/20210321105151_DT0A6630.png);
}

.item-5 {
    background-image: url(../images/IMG-20240425-WA0052.png);
}


.item-21 {
    background-image: url(../images/KDD065751.png);
}

.item-22 {
    background-image: url(../images/KDD065791.png);
}

.item-23 {
    background-image: url(../images/KDD065801.png);
}

.item-24 {
    background-image: url(../images/KDD065851.png);
}

.item-25 {
    background-image: url(../images/KDD065871.png);
}
.item-26 {
    background-image: url(../images/KDD095981.png);
}




/*My Photography*/

#photoTest{
    width: 80%;  /*blnna*/
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.containerPhoto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 700px;
    background: #f5f5f5;
}

.containerPhoto .slidePhoto .itemPhoto{
    width: 200px;  /*blnna*/
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-position: 50% 50%;
    background-size: contain;
    display: inline-block;
    transition: 0.5s;
}

.slidePhoto .itemPhoto:nth-child(1),
.slidePhoto .itemPhoto:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slidePhoto .itemPhoto:nth-child(3){
    left: 50%;
}
.slidePhoto .itemPhoto:nth-child(4){
    left: calc(50% + 150px);  /*blnna*/
}
.slidePhoto .itemPhoto:nth-child(5){
    left: calc(50% + 300px);   /*blnna*/
}

/* here n = 0, 1, 2, 3,... */
.slidePhoto .itemPhoto:nth-child(n + 6){
    left: calc(50% + 450px); /*blnna*/
    opacity: 0;
}



.slidePhoto .itemPhoto:nth-child(2) .content{
    display: block;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.buttonPhoto{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.buttonPhoto button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.3s;
}

.buttonPhoto button:hover{
    background: #ababab;
    color: #fff;
}
#PhotographySEC{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*Skills Section*/


.containerH__bg,
.hexagons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.containerH {
    position: relative;
    height: 75vh;
    overflow: hidden;
}

.containerH__bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

/* Hexagons Animations */

@keyframes fadeHexagon {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    20%,
    50% {
        transform: scale(0);
        opacity: 0;
    }
    70% {
        transform: scale(1);
        opacity: 1;
    }
}

.hexagons {
    min-width: 340px;
    text-align: center;
}

.hexagons__row:first-of-type {
    transform: translate3d(0, 22%, 0);
}

.hexagons__row:last-of-type {
    transform: translate3d(0, -22%, 0);
}

.hexagons__cell {
    display: inline-block;
    position: relative;
    width: 180px; /* Doubled width */
    height: 110px; /* Doubled height */
    background-color: #14172a;
    margin: 55px 4px; /* Adjusted margin */
    animation: fadeHexagon infinite cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.5s;
    /*background-image: url(../images/wheel.png); !* Add your image URL here *!
    background-size:60%; !* Ensures the image covers the hexagon *!
    background-position: center; !* Centers the image *!*/
    background-repeat: no-repeat; /* Prevents image repetition */
}

.hexagons__cell:before,
.hexagons__cell:after {
    content: "";
    position: absolute;
    left: 0;
    border-left: 90px solid transparent; /* Adjusted for larger hexagons */
    border-right: 90px solid transparent; /* Adjusted for larger hexagons */
}

.hexagons__cell:before {
    bottom: 100%;
    border-bottom: 55px solid #14172a; /* Adjusted for larger hexagons */
}

.hexagons__cell:after {
    top: 100%;
    border-top: 55px solid #14172a; /* Adjusted for larger hexagons */
}

.hexagons__cell--1 {
    animation-delay: calc((3.5s / 14) * 1);
}

.hexagons__cell--2 {
    animation-delay: calc((3.5s / 14) * 2);
}

.hexagons__cell--3 {
    animation-delay: calc((3.5s / 14) * 3);
}

.hexagons__cell--4 {
    animation-delay: calc((3.5s / 14) * 4);
}

.hexagons__cell--5 {
    animation-delay: calc((3.5s / 14) * 5);
}

.hexagons__cell--6 {
    animation-delay: calc((3.5s / 14) * 6);
}

.hexagons__cell--7 {
    animation-delay: calc((3.5s / 14) * 7);
}
.hexagons__cell--1{
    background-image: url(../images/Cicon.png); /* Add your image URL here */
    background-size:60%;
    background-position: center;
    background-repeat: no-repeat;
}
.hexagons__cell--2{
    background-image: url(../images/CSSI.png); /* Add your image URL here */
    background-size:60%;
    background-position: center;
    background-repeat: no-repeat;
}
.hexagons__cell--3{
    background-image: url(../images/htmlI.png); /* Add your image URL here */
    background-size:60%;
    background-position: center;
    background-repeat: no-repeat;
}
.hexagons__cell--4{
    background-image: url(../images/photoshopI.png); /* Add your image URL here */
    background-size:60%;
    background-position: center;
    background-repeat: no-repeat;
}
.hexagons__cell--5{
    background-image: url(../images/JSI.png); /* Add your image URL here */
    background-size:60%;
    background-position: center;
    background-repeat: no-repeat;
}
.hexagons__cell--6{
    background-image: url(../images/mySQLI.png); /* Add your image URL here */
    background-size:60%;
    background-position: center;
    background-repeat: no-repeat;
}
.hexagons__cell--7{
    background-image: url(../images/javaI.png); /* Add your image URL here */
    background-size:60%;
    background-position: center;
    background-repeat: no-repeat;
}

/* contact Me*/

#contactFull{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactSub{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ContactTop>h1 {
    margin: 10px 0 0 0;
    margin: 30px;
    font-size: 3rem;
}
.required{
    font-size: 1.5rem;
}
.inputFields>input{
    margin-top: 10px;
}
.inputFields>textarea{
    margin-top: 10px;
}
#ContactTop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-form {
    padding: 10px 20px 30px 20px;
    width:40%;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: Arial, san-serif;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
    width:100%;
    background: #fff;
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 5px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    background-color: #E5E6E7;
}
#contact-form textarea {
    width:100%;
    height: 150px;
}
#contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#991D57;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}
#contact-form .required {
    font-weight:bold;
    color: #E5E6E7;
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
    color: #6EA070;
    display:none;
}



/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
    #contact-form{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
#contactMeMain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactInfoFull{
    width: 60%;
    height: 600px; /*blnnaaaaaaaaaa*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#CInfoMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#CInfoTopic{
    display: flex;
    justify-content:center;
    align-items: center;
}
#CInfoTopic>h3{
    font-size: 3em;
}
#contactInfoIcons{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    height: 300px;
}
#contactInfoIcons>img{
    width:40px;
    height:auto;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#conInfoDesSub{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#contactInfoDes{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    height: 300px;
}
#contactInfoDes>p{
    font-size: 1.5em;
}
#contactMeImage>img{
    width: 450px;
    height: auto;
    margin-right: 60px;
    border-radius: 30px;
}
#CFullImg{
    width: 100%;
    background-image: url(../images/pexels-eberhardgross-1287075.jpg);  /*pexels-instawally-176851.jpg*/
    background-size: cover;
}



/*footer*/

#footerFull{
    font-family: "IBM Plex Sans";
    --m: 4rem;
    width: 100%;
    background: black;
}

#footerEnd {
    font-weight: 500;
    text-align: center;
    font-size: var(--m);
    margin: 0;
}

#footerName {
    font-weight: 500;
    font-size: calc(0.6 * var(--m));
    margin: 0;
}

footer {

    z-index: 500;
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}


.col {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 28%;
}

.col2,
.col3 {
    background-color: #121212;
    border-radius: calc(0.5 * var(--m));
}
.col2{
    margin-top:20px;
    margin-bottom:20px;
}
.col1>div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.col2>ul{
    list-style: none;
}
.col2>ul>li {
    margin: 18px;
}
.col1>div>p{
    font-size: 1.2rem;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.social>a {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social a:hover {
    color: #aaa;
}
.col2>ul>li>a{
    text-decoration: none;
    color: inherit;
}

.link {
    width: calc(0.8 * var(--m));
    height: calc(0.8 * var(--m));
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: calc(0.1 * var(--m));

    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    margin:20px;
    border-top:5px solid white;
    width: 100%;
    height:50px;
    background: #000000;
}
.end>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px) {
    footer {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
}
#footerAbout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footerAboutDis{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footerLogo>img{
    width: 150px;
    height: auto;
}
#contactMeButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

                                                       /* CSS */
                                                   .button-86 {
                                                       all: unset;
                                                       width: 100px;
                                                       height: 30px;
                                                       font-size: 16px;
                                                       background: transparent;
                                                       border: none;
                                                       position: relative;
                                                       color: #f0f0f0;
                                                       cursor: pointer;
                                                       z-index: 1;
                                                       padding: 10px 20px;
                                                       display: flex;
                                                       align-items: center;
                                                       justify-content: center;
                                                       white-space: nowrap;
                                                       user-select: none;
                                                       -webkit-user-select: none;
                                                       touch-action: manipulation;
                                                   }

.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}















/*Media query*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 1025px) and (max-width:1440px){
    body {
        overflow-x:hidden;
    }

    #navBar>nav>div{
        width: 85%;
        display:flex;
        justify-content: space-between;
        /*border: 1px solid red;*/
    }
    #navBar>nav>div>div:nth-child(2){
        display: flex;
        align-items: center;
    }
    #navBar>nav>div>div:nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
        /*border: 1px solid red;*/
    }
    #navBar>nav>div>div:nth-child(1)>img{
        margin-top:15px;
    }
    #navBar{
        width: 100vw;
    }
    #navigation{
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100vw;
        z-index: 9999;
    }
}



/*........................LAPTOP 1024.................................*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




@media all and (min-width: 769px) and (max-width:1024px){

    /*navigation*/
    .fill>div>div:nth-child(2)>ul>li>a{
        font-size:0.6rem;
    }

    /*fonts*/
    .section-title {
        font-weight: 400;
        font-size: 6rem;
        margin-top: 10px;

    }
    /*Home*/

    #home{
        width: 90%;
        height: 600px;

    }
    #circle1{
        margin-top: 20px;
        margin-bottom: 40px;
        width: 80px;
        height: 80px;
    }

    #circle2{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 30px;  /*blnnaaaa*/
    }
    #homeMain{
        display: flex;
        justify-content:center;
        width: 100%;
        height: 620px;
        padding-top:120px;
    }
    #homeMyName>div:first-child>h1{
        font-size: 70px;
        margin-bottom: 20px;
    }
    #homeMyName>div:nth-child(2)>h2{
        font-size: 30px;

    }
    .social-icons a {
        font-size: 30px; /* Medium size */
    }
    #homePhoto>img{
        width: 300px;
        height: auto;
    }

    /*About Me*/

    #aboutPhoto{
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 60px;
    }
    #aboutPhoto>img{
        width:310px;
        height: auto;
    }
    #about>div>div:nth-child(2)>div:nth-child(2){
        margin: 50px;
    }
    #aboutDis{
        margin: 50px;
    }
    .about-description p {
        font-size: 1.2rem;           /* Set text size to 1.2rem */
        line-height: 1.4;            /* Improve readability with proper line height */
        font-weight: 400;            /* Regular font weight */
        margin-bottom: 10px;         /* Add space after paragraph */
    }
    .first-word {
        font-size: 2rem;         /* Increase font size */
        font-weight: bold;         /* Make it bold */
        margin-right: 5px;         /* Add a little space after the first word */
    }


    /*Projects*/

    #prjAll{
        margin-bottom: 80px;
        margin-top: 80px;
    }
    .prjCard{
        width: 280px;
        height: 450px;
        background: #aaaaaa;
        border-radius:5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #prjImage1>img{
        width: 235px;
        height: auto;
    }
    #prjImage2>img{
        width: 240px;
        height: auto;
    }

    #prjImage3>img{
        width: 220px;
        height: auto;
    }


    /*Assignments*/
    #assignmentSec{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .assignmentClipBoard>img{
        width:180px;
    }
    .assignmentG\&V>img{
        width:30px;
    }
    .assignmentCard{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    /*Gallery*/

    .gallery-wrap {
        width: 100%;
        height: 50vh;
    }
    #galleryFull{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60vh;
        margin-top: 70px;
    }
    .gallery{
        width: 100%;
        height:100%;
    }

    /*My Photography*/

    .containerPhoto{
        width: 750px;
        height: 450px;
    }

    .containerPhoto .slidePhoto .itemPhoto{
        width: 100px;  /*blnna*/
        height: 180px;
    }

    .slidePhoto .itemPhoto:nth-child(1),
    .slidePhoto .itemPhoto:nth-child(2){
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        width: 100%;
        height: 100%;
    }


    .slidePhoto .itemPhoto:nth-child(3){
        left: 50%;
    }
    .slidePhoto .itemPhoto:nth-child(4){
        left: calc(50% + 100px);  /*blnna*/
    }
    .slidePhoto .itemPhoto:nth-child(5){
        left: calc(50% + 200px);   /*blnna*/
    }

    /* here n = 0, 1, 2, 3,... */
    .slidePhoto .itemPhoto:nth-child(n + 6){
        left: calc(50% + 300px); /*blnna*/
        opacity: 0;
    }
    #PhotographySEC{
        width: 100%;
        height: 600px;
    }

     /*Contact Me*/

    #CInfoTopic>h3{
        font-size: 2.4rem;
    }
    #contactInfoDes>p{
        font-size: 1.5rem;
        margin-top:18px;
        margin-bottom:20px;
    }
    #contactInfoIcons>img{
        margin-top:20px;
        margin-bottom:21px;
    }
    #contactMeImage>img{
        width:400px;
        height: auto;
    }

    /*footer*/
    #footerAboutDis>p{
        text-align: center;
    }

}







/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media all and (min-width:425px) and (max-width: 768px){

    /*navigation*/
    .fill>div>div:nth-child(2)>ul>li>a{
        font-size:0.6rem;
    }

    /*fonts*/
    .section-title {
        font-weight: 400;
        font-size: 4rem;
        margin-top: 5px;

    }

}
@media all and (min-width:375px) and (max-width: 424px){

}
@media all and (min-width:320px) and (max-width: 374px){

}